@import url('https://fonts.googleapis.com/css?family=Oswald:700&display=swap');


body
{
    background: -webkit-linear-gradient(to right, #00bf8f, #001510); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00bf8f, #001510); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.title
{
  font-family: 'Oswald', sans-serif;
  color: rgb(49, 47, 47);
  text-align: center;
  text-shadow: 0 0 5px #fff;
  letter-spacing: 10px;
  position: relative;
  
  
}


/* Navbar container */
.navbar {
  font-family:  'Oswald', sans-serif;
  display: flex;
  justify-content: center;
}

/* Links inside the navbar */
.navbar a {
  cursor: pointer;
  float: left;
  font-size: 16px;
  color:rgb(49, 47, 47);
  text-align: center;
  padding: 14px 35px;
  text-decoration: none;
  letter-spacing: 5px;
}


#gridContainer
{
  display: flex;
  border: 1px solid black;
  width: 840px;
  height: 840px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 50px;
  background-color: white;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.grid{
  background-color: white;
  border: 1px solid black;
  flex-shrink: 2;
}