@import url('https://fonts.googleapis.com/css?family=Oswald:700&display=swap');
* {
    --gray: #f5f5f5;
    --white: #f7f7f7 ;
    --darkgray: #333;
    --gridshadow: #555;
    --github: #24292e;
    --midgray: #999;
    --lightgray: #ccc;
    --linkedin: #0e76a8;
    --hoverLink: #f55;
  }


body
{
    background: -webkit-linear-gradient(to right, #00bf8f, #001510); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00bf8f, #001510); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.title
{
  font-family: 'Oswald', sans-serif;
  color: rgb(49, 47, 47);
  text-align: center;
  text-shadow: 0 0 5px #fff;
  letter-spacing: 10px;
  position: relative;
  
  
}


/* Navbar container */
.navbar {
  overflow: hidden;
  font-family:  'Oswald', sans-serif;
  text-align: center;
  max-width: 290px;
  display: block;
  margin: auto;
  padding-left: 65px;
  margin-left: auto;
  margin-right: auto;
  
 
}

/* Links inside the navbar */
.navbar a {
  cursor: pointer;
  float: left;
  font-size: 16px;
  color:rgb(49, 47, 47);
  text-align: center;
  padding: 14px 35px;
  text-decoration: none;
  letter-spacing: 5px;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  
}

/* Dropdown button */
.dropdown .dropbtn {
  padding-left: 20px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(49, 47, 47);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0;
  letter-spacing: 5px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: rgb(49, 47, 47);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

#gridContainer
{
  display: flex;
  border: 5px solid black;
  width: 720px;
  height: 720px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 50px;
  background-color: white;
  position: relative;
  justify-content: stretch;
  flex-wrap:wrap;
}

.grid{
  border: 0.5px solid black;
  align-self: stretch;

}